/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* GLOBALES */
html{
	font-size: 62.5%;
	box-sizing: border-box;
}

:before, *:after{
	box-sizing: inherit;
}

body{
	line-height: 1.5;
	font-size: 1.60rem;
	font-family: 'Poppins', sans-serif;
}

.line-heigh{
	line-height: 1em;
}

nav{
	height: 100vh;
	align-items: center;
	text-align: center;
}




@media (max-width: 700px){
	#nav{
		padding-right: 0!important;
		padding-left: 0!important;
	}
}

.text-center{
	text-align: center;
	align-items: center;
}

li{
	list-style: none;
	margin-top: 1em;
	color: #fff;
}

a{
	text-decoration: none;
	color: #fff;
}

.a2{
	color: black;
}

.color-nav{
	background-color: #0374b9;
	z-index: -1;
}

ul{
	padding: 0;
	margin-top: 3.5em;
}

h3{
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
}

h4{
	font-family: 'Poppins', sans-serif;
	font-size: 25px;
	font-weight: 700;
	color: #0374B9;
}

.letras-rojas{
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	color: #e72f6a;
}

.letras-azules{
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	color:  #0374b9;
}

h6{
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}

p{
	font-family: 'Poppins', sans-serif;
	margin-top: 0;
	margin-bottom: 1rem;
}

.bold{
	font-weight: bold;
}

.unEm{
	padding-right: 1em;
}

.padding1em{
	padding-top: 1em;
	padding-left: 4em;
}

.marginTop3em{
	margin-top: 3.5em;
}

.marginTop2em{
	margin-top: 6rem;
	font-size: 20px;
	font-weight: 700;
}

.redheader-agenda {
	margin-top: 16px;
	margin-left: 4rem;
	font-size: 16px;
	font-weight: 600;
	color: #E72F6A;
}

.redheader-sec2{
	font-size: 16px;
	font-weight: 600;
	color: #E72F6A;
}

.marginTop1em{
	margin-top: 1em;
}

.margin-bottom{
	margin-bottom: 1.5em;
}

.margin-left{
	margin-left: 2em;
}

.margin-sides{
	margin: .4em 3em;
}

#logo-nav{
	margin-top: 3em;
	width: 8em;
	height: 8em;
	border-radius: 5;
}

#avatar-nav{
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.columnas-avatar-nav{
	display: grid;
	grid-template-columns: 29% 55%;
}

.columnas-avatar-title{
	display: grid;
	grid-template-columns: 10% 55%;
}

@media (min-width:500px) and (max-width:900px){
	.columnas-avatar-title{
		display: grid;
		grid-template-columns: 30% 55%;
	}
}

@media (max-width: 760px){
	.columnas-avatar-title{
		display: grid;
		grid-template-columns: 40% 55%;
	}
}

.active{
	font-weight: 700;
}

.texto-nav {
	font-size: 14px;
	display: flex;
}

.texto-nav:hover{
	color: white;
	font-weight: 500;
}

/* Rayita abajo de la pestaña activa*/
.active p::after{
	content: "";
	display: block;
	width: 32px;
	height: 2px;
	background-color: #e5e5e5;
	margin-top: .3rem;
}

#nombreUsuario{
	font-weight: 500;
	position: absolute;
	padding-top: 5px;
}

#text-area{
	border-radius: 2.5em 0 0 2.5em;
	width: 100%;
/*	height: 100%;
*/	background-color: #FBFBFB;
	color: #000;
}

.columnas-pagina-nav-textArea{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	width: 100%;
}

.navbar-brand{
	margin-right: 0;
}

a:hover{
	color: #000;
	text-decoration: none;
}

/* HOME */
.columnas-display-grid{
	display: grid;
	grid-template-columns: 34% 0%;
	/* Tambien se puede poner 1fr y 1fr 
		o repeat(2, 50%) o repeat(2, 1fr)*/
	/*grid-column-gap: 2rem; */
}

@media (max-width: 760px){
	.texto-nav{
		display: none;
	}

	#logo-nav{
		height: 3em;
		width: 3em;
	}

	.columnas-display-grid, .columnas-avatar-nav{
		display: grid;
		grid-template-columns: 100% 0%;
	}

	nav{
		width: 10%;
		font-weight: 400;
	}

	/*#text-area{
		width: 90%;
	}*/

}

/* Al oprimir buscar */
.overlay {
  height: 100vh;
  width: 100vw;
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #0374b9;
}

.overlay .cerrarBusqueda{
  float: left;
  width: 10%;
  padding: 1rem;
  background: #0374b9;
  font-size: 4rem;
  border: none;
}

.overlay .overlay-fa{
	float: left;
	padding: 1rem;
	background: #0374b9;
	font-size: 4rem;
	border: none;
	background-color: #0374b9;
}

.cerrarBusqueda {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  color: white;
  cursor: pointer;
}

#form{
	display: flex;
	justify-content: center;
	flex-direction: row;
}

/*input{
	height: 40%;
	width: 80%;
}*/

.overlay-content {
  position: relative;
  width: 80%;
  text-align: center;
  margin-top: 3rem;
  margin: auto;
}

#form{
	position: initial;
	margin: 50vh 0;
	padding-left: 4em;
}

#form input{
	background: transparent;
	color: white;
	border: none;
	outline: none;
	font-size: 4rem;
}

form input:placeholder{
	color: white;
}

@media (max-width: 739px) {
	.fa-2x{
		width: 50%;
		height: 50%;
	}
	#form input{
		font-size: 2rem;
	}
	.overlay .overlay-fa{
		font-size: 2rem;
		padding: 0;
	}
}


/* Fin buscador */

/* Botones */
.boton{
	color: white;
	font-weight: 600;
	border: none;
	text-decoration: none;
	background-color: #E72F6A;
	padding: 1rem 2rem;
	text-align: center;
	width: 9em;
	height: 3em;
	display: block; /* PAra que tome todo el espacio disponible0 0 100%;*/
	border-radius: 30px;
}

@media (min-width: 768px) {
	.boton{
		display: inline-block;
		flex: 0 0 auto;
	}
}

.boton:hover{
	cursor: pointer;
}

.fa-search:hover{
	color: #000;
}

.btn-medio-ver-mas{
	margin-top: 100%;
}

/* HOME */
.columnas-home-agenda{
	display: grid;
	grid-template-columns: 44% 23% 16% 10%;
	/* Tambien se puede poner 1fr y 1fr 
		o repeat(2, 50%) o repeat(2, 1fr)*/
	/*grid-column-gap: 1em;*/
}

.section1{
	/*margin: 24px 0 0 0;*/
	padding: 0; 
	/*margin-left: 3.125rem;*/
}

.section {
	background-color: white;
	border-radius: 15px;
	padding: 24px 24px 16px 32px;
	margin: 24px 0 0 24px;
	box-shadow: 0 4px 11px -4px #cbcbcb;
}

.section2 {
	background-color: white;
	border-radius: 15px;
	padding: 24px 24px 24px 24px;
	margin: 24px 0 0 24px;
	box-shadow: 0 4px 11px -4px #cbcbcb;
}

.section-doc {
	background-color: white;
	border-radius: 15px;
	padding: 24px 32px 16px 32px;
	margin: 24px 0 0 24px;
	box-shadow: 0 4px 11px -4px #cbcbcb;
}

.doc-div {
	text-align: center; padding: 0;
}

.section-header {
	font-size: 15px;
	margin-left: -8px;

}

.esp-button-blue {
	height: 50px;
	width: 50px;
	padding: 3px 3px 3px 3px;
	margin: 0 8px 0 8px;
	background-color: rgba(3, 116, 185, .44);
	border: none;
	border-radius: 10px;
}

.esp-button-red {
	height: 50px;
	width: 50px;
	padding: 3px 3px 3px 3px;
	margin: 0 8px 0 8px;
	background-color: rgba(231, 47, 106, .44);
	border: none;
	border-radius: 10px;
}

.esp-button-blue:hover {
	background-color: rgba(3, 116, 185);
}

.esp-button-red:hover {
	background-color: rgba(231, 47, 106);
}

.esp-doctor {
	font-weight: 300;
	font-size: 11px;
	margin-top: 8px;
}

.button-icon{
	height: 25px;
	width: 25px;
}

.checklist {
	font-size: 13px;
	margin-top: 20px;
}

label {
	margin-bottom: 19px;
	font-weight: 300;
}

input[type='checkbox'] { 
	margin-right: 8px;
}

.viewmore-link {
	font-size: 11px;
	font-weight: 300;
	color: #E72F6A;
	margin-top: 5px;
}

.viewmore-link:hover {
	color: #E72F6A;
	text-decoration: underline;
}

.doc-button {
	height: 50px;
	width: 50px;
	padding: 3px 3px 3px 3px;
	border: none;
	border-radius: 10px;
	background-color: white;
}

.doc-button:hover{
	box-shadow: 0 4px 11px -4px #cbcbcb;
}

.cita-info {
	margin-top: 1.5rem;
}

.cita-date {
	font-size: 13px;
	font-weight: 700;
}

.cita-time {
	font-size: 13px;
	font-weight: 600;
}

.cita-doctor {
	font-size: 13px;
	font-weight: 300;
}

.columnas-home-citas{
	display: flex;
	justify-content: space-around;
	margin-bottom: 10%;
}

.publicaciones-flex{
	display: flex;
	justify-content: end;
	flex-direction: row;
}

@media (min-width: 1097px){
	.especialidades{
		display: grid;
		grid-template-columns: 28% 28% 28%;
		text-align: center;
	}

	.especialidades div{
		margin: 1em 1em;
	}
}

@media (max-width: 1096px){
	.columnas-home-agenda{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.marginTop3em{
		margin-top: 3em;
	}

	.marginTop2em{
		margin-top: 1em;
	}

	.especialidades{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		text-align: center;
	}

	.especialidades img, p{
		margin: 0 .3em;
	}

	.seleccion-medico-home{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		padding: 1em;
		margin-top: 0;
	}

	.btn-medio-ver-mas{
		margin: 5% 0%;
		margin-bottom: 10%;
	}
}

@media (max-width: 790px){
	.columnas-home-citas{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.publicaciones-flex{
		display: block;
	}

	.padding1em{
		padding: 0;
	}
}


@media (max-width: 790px){
	.columnas-home-citas{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.publicaciones-flex{
		display: block;
	}

	.padding1em{
		padding: 0;
	}
}

/*Perfil */
#avatar-nav{
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.text_black{
	line-height: 1;
	font-size: 1.60rem;
	color: black;
}

.columnas-perfil-info{
	display: grid;
	grid-template-columns: 42% 53%;
}

@media (max-width: 790px){
	.columnas-perfil-info{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}

.botones-perfil{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.boton-perfil-diseño{
	color: white;
	font-weight: 500;
	border: none;
	text-decoration: none;
	background-color: #E72F6A;
	padding: .5rem;
	text-align: center;
	width: 11em;
	height: 2em;
	display: block; /* Para que tome todo el espacio disponible0 0 100%;*/
	border-radius: 10px;
}

.boton-perfil-diseño:hover {
	background-color:rgba(231, 47, 106, .77);
}

.boton-perfil-diseño:active {
	background-color:#E72F6A;
}

@media (max-width: 600px){
	.botones-perfil{
		display: flex;
		flex-direction: column;
	}
}

/* Listado de Profesionales */

.title {
	margin-top: 64px;
	font-size: 24px;
	font-weight: 700;
	margin-left: 32px;
}

.title-cat {
	margin-top: 64px;
	font-size: 24px;
	font-weight: 700;
	margin-left: 16px;
}

.title-cat-art {
	margin-top: 64px;
	font-size: 24px;
	font-weight: 700;
	margin-left: 16px;
}

.listado-desc {
	margin: 24px 88px 32px 32px;
	font-size: 14px;
}

.subtitle {
	font-size: 16px;
	font-weight: 600;
	margin: 0 0 32px 32px;
}

.category {
	font-size: 18px;
	font-weight: 600;
	margin: 40px 0 32px 48px;
	color: #0374b9;
}

.seg-subtitle {
	font-size: 16px;
	font-weight: 600;
	margin: 24px 0 32px 48px;
	color: #0374b9;
}

.subtitle-cat {
	font-size: 16px;
	font-weight: 600;
	margin: 32px 0 32px 32px;
	color: #0374b9;
}

.summary-art {
	margin: 0 88px 32px 48px;
	font-size: 14px;
	font-weight: 500;
}

.art-text {
	font-size: 16px;
	margin: 0 88px 32px 48px;
}

.no-padding {
	padding: 0;
	margin: 0;
	text-align: center;
}

.list-button-blue {
	height: 56px;
	width: 172px;
	padding: 3px 3px 3px 3px;
	/*margin: 0 4px 0 0;*/
	background-color: rgba(3, 116, 185, .44);
	border: none;
	border-radius: 10px;
}

.actual {
	height: 56px;
	width: 172px;
	padding: 3px 3px 3px 3px;
	/*margin: 0 4px 0 0;*/
	background-color: rgba(3, 116, 185);
	border: none;
	border-radius: 10px;
	box-shadow: 0 4px 11px -4px #414141;
}

.actual2 {
	background-color: rgba(3, 116, 185);
	box-shadow: 0 4px 11px -4px #414141;
}

.text-actual {
	color: white;
}

.list-button-red {
	height: 56px;
	width: 172px;
	padding: 3px 3px 3px 3px;
	/*margin: 0 4px 0 0;*/
	background-color: rgba(231, 47, 106, .44);
	border: none;
	border-radius: 10px;
}

.list-button-blue:hover {
	background-color: rgba(3, 116, 185);
}

.list-button-blue:hover .esp-list{
	color: white;
}

.no-click {
	pointer-events: none;
}

.list-button-red:hover {
	background-color: rgba(231, 47, 106);
}

.prof-element {
	background-color: white;
	border-radius: 15px;
	padding: 16px 24px 16px 32px;
	margin: 24px 0 0 0;
	box-shadow: 0 4px 11px -4px #cbcbcb;
	width: 300px;

}

.prof-name {
	font-size: 14px;
	font-weight: 600;
}

.prof-spec {
	font-size: 11px;
	font-weight: 300;
}

.prof-info {
	font-size: 12px;
}

.esp-list {
	font-weight: 500;
	font-size: 12px;
	margin-top: 8px;
}

/* Bibliotecas */

.category-box {
	background-color: white;
	border-radius: 15px;
	padding: 16px 24px 16px 32px;
	box-shadow: 0 4px 11px -4px #cbcbcb;
	width: 360px;
	height: 192px;
	margin: 0 0 40px 0;
}

.cat-name {
	font-size: 18px;
	font-weight: 600;
	color: #0374b9;
}

.cat-name:hover {
	text-decoration: underline;
	color: #0374b9;
}

.cat-desc {
	font-size: 12px;
	margin-top: 8px;
	margin-bottom: 8px;
	padding-right: 8px;
}

.cat-link {
	font-size: 11px;
	color: #0374b9;
}

.cat-link:hover {
	color: #0374b9;
	text-decoration: underline;
}

.img-cont {
	padding: 45px 0 45px 0;
}

.cat-img {
	height: 64px;
	width: 64px;
}

/* Artículos */

.newUserInput{
	width: 64%;
	height: 33px;
	left: 403px;

	background: #FFFFFF;
	border: 1px solid #E3E3E3;
	box-sizing: border-box;
	padding-left: 8px;
}

.newUserText{
	width: 88%;
	height: 90px;
	left: 403px;

	background: #FFFFFF;
	border: 1px solid #E3E3E3;
	box-sizing: border-box;
	padding-left: 8px;
}

.margin-right {
	margin-right: 8px;
}

.article-box {
	background-color: white;
	border-radius: 15px;
	padding: 16px 24px 16px 32px;
	box-shadow: 0 4px 11px -4px #cbcbcb;
	width: 80%;
	height: 100px;
	margin: 0 0 40px 16px;
}

.button-art {
	color: black;
	display: inline-block;
	height: 25px;
	background:rgba(231, 47, 106, .77);
	text-align: center;
	border-radius: 5px;
	color: white;
	padding: 0 24px 0 24px;
	line-height: 25px;
	font-size: 14px;
}

.button-art:hover {
	background: rgba(231, 47, 106);
	color: white;
}